* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}

body {
    background: no-repeat center center fixed;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat',
        sans-serif;
    height: 100vh;
    justify-content: space-between;
    min-width: 320px;
    transition: 0.5s ease-out;
    width: 100vw;
}

.qw-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.quite-container {
    font-size: 0.7rem;
    text-align: center;
}

.blockquote {
    display: flex;
    justify-content: space-around;
    width: 500px;
}

.quote {
    width: 400px;
}

.btn__quote,
.btn {
    background: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png") no-repeat;
    background-size: contain;
    border: none;
    filter: grayscale(1);
    height: 30px;
    /* url(chrome-extension://kbfnbcaeplbcioakkpcpgfkobkghlhen/src/images/a6a1f6d03231ec43383d24b26cd7eee6/gbtn-grammarly.svg) */
    transition: all 0.8s ease-in-out;
    width: 30px;
}

.btn:hover,
.btn__quote:hover {
    animation: bounce 1s;
    cursor: pointer;
    filter: grayscale(.5);
    transform: rotate(360deg);
}

.weather__container {
    font-size: 0.8rem;
    margin-left: 10px;
    width: 140px;
}

.weather-icon:hover {
    animation: shake 1.5s;
}

.location {
    display: inline-block;
    min-width: 60px;
}

.main-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
}

#time {
    font-family: monospace;
    font-size: 80px;
}

#date {
    font-size: 30px;
    text-align: center;
}

#name,
#focus {
    align-items: center;
    display: inline-block;
    display: flex;
    flex-direction: column;
    min-width: 220px;
}

#focus {
    min-width: 530px;
}

#name:focus,
#focus:focus,
.location:focus {
    border-bottom: 2px solid #ffffff;
    outline: none;
}

.time-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.time-container {
    justify-content: space-between;
}

.todo-wrapper {
    display: flex;
    justify-content: end;
    margin: 0 25px 20px;
}

.modal {
    display: none;
}

.modal-content {
    background-color: rgb(241, 236, 236);
    border-radius: 6px;
    bottom: 60px;
    padding: 5px;
    position: fixed;
    right: 20px;
    z-index: 1;
}

.show {
    display: block;
}

#modal-btn {
    background-color: Transparent;
    color: white;
    font-size: 24px;
}

form {
    align-items: center;
    display: flex;
    min-height: 20px;
}

form input,
form button,
.trash-btn,
.complete-btn,
.todo-select {
    background: rgb(255, 255, 255);
    color: rgb(5, 5, 5);
    font-size: 18px;
    padding: 3px 3px;
}

form button,
.trash-btn,
.complete-btn {
    align-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover,
.trash-btn:hover,
.complete-btn:hover {
    background: rgb(8, 8, 8);
    color: white;
}

.task-container {
    align-items: center;
    display: flex;
}

.task-list {
    list-style: none;
    min-width: 100%;
}

.todo {
    align-items: center;
    background: white;
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    margin: 0.2rem 0;
    transition: all 0.3s ease;
}

.todo li {
    flex: 1;
}

.todo-item {
    padding: 0 4px;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    color: rgb(105, 104, 104);
    text-decoration: line-through;
}

.fall {
    /* transform: translateY(10rem) rotateZ(20deg); */
    opacity: 0;
}

.todo-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-image: none;
    border: 0 !important;
    box-shadow: none;
    outline: 0;
}

.todo-select {
        position: relative;
    overflow: hidden;
    width: 6.5rem;

}

.todo-filter {
    cursor: pointer;
    color: #0e0d0d;
    }

.todo-select:hover::after {
    background: rgb(231, 230, 230);
}


@media (max-width: 700px) {
    .qw-wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding-top: 5px;
    }

    .blockquote {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 5px 0 0 10px;
                width: 310px;
        text-align: left;
    }

    .btn,
    .btn__quote {
        margin: 3px 0;
    }

    .quote {
        height: 100px;
    }

    .weather__container {

        font-size: 0.7rem;
        margin-left: 10px;
    }

    #time,
    #date {
        font-size: 30px;
    }

    #focus,
    #name {
        min-width: 300px;
    }

    .greeting-container,
    .focus-container {
        font-size: 16px;
        text-align: center;
        width: 300px;
    }

    .todo-wrapper {
        margin: 0 25px 5px;
    }

    .modal-content {
        font-size: 16px;
    }

    #modal-btn {
        font-size: 20px;
    }

    .modal-content {
        bottom: 35px;
        right: 10px;
        width: 227px;
    }

    form {
        min-height: 15px;
    }

    form input,
    form button,
    .trash-btn,
    .complete-btn,
    .todo-select {
        font-size: 15px;

    }

    .task-list {
        min-width: 100%;
    }

    .todo-filter {
        width: 6.5rem;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
}